{% extends "base.html" %}
{% block widthtype %}fixed login{% endblock %}
{% block title %}Welcome to MATCH. Please log in.{% endblock %}
{% block content %}
<h3>Welcome to Multidisciplinary Approaches to Children's Oral Health (MATCH)</h3>
{% if form.has_errors %}
<p>Your username and password didn't match. Please try again.</p>
{% endif %}

<div class="loginbox">
	<h2>Choose a login option...</h2>
	<div class="content">
	
	
	<form method="get" action="{{ wind_base }}login">
	<input type="hidden" name="service" value="{{ wind_service }}" />
	<input type="hidden" name="destination" value="http://{{ request.get_host }}/accounts/windlogin/?next={{ next }}" />
	<p>If you have a Columbia University Network ID (UNI)...</p>
	<input class="regbutton" type="submit" value="LOG IN" />
	</form>

	<p class="smalltxt"><a href="http://cuit.columbia.edu/cuit/manage-my-uni" title="Learn more about UNI" target="_blank">What is a UNI?</a></p>
	<!-- End UNI LOG IN -->
	
	<hr class="seperator" />
	
{% if form.errors%}
    <p class="errornote"><span><b>ERROR:</b> Invalid username or password.</span> Please try again. Note that both username and password are case-sensitive.</p>
{% endif %}

	<p>If you have a project account...</p>
<form method="post" action=".">
{% csrf_token %}

	<div class="fieldwrapper">
		<label for="id_username">Username:</label>
		{{ form.username }}
	</div><!-- fieldwrapper -->

	<div class="fieldwrapper">
		<label for="id_password">Password:</label>
		{{ form.password }}
	</div><!-- fieldwrapper -->
    

<input class="regbutton" type="submit" value="LOG IN" />
<input type="hidden" name="next" value="{{ next }}" />
</form>



	<p class="smalltxt"><a href="/registration/register/" title="Create your new project account">Need a new account?</a></p>
	</div><!-- content -->
</div><!-- loginbox -->

<p>Pediatric dentists can partner with a variety of other healing and helping professionals to assure children's oral health, dental care, and overall wellbeing. Children's oral health is determined by social, behavioral, genetic, nutritional, and educational factors&mdash;as well as by dental care. Partnering with experts from these fields can enhance your practice and help children and their families obtain the highest levels of oral health.</p>

<p>These modules include activities, videos and case studies which:</p>
<ol>
	<li>Highlight non-dental professions that can impact children's oral health</li>
	<li>Suggest ways pediatric dentists can partner with them most effectively to enhance practice success</li>
	<li>Present examples of successful pediatric dentists who enhance their patient care through partnerships with these professions</li>
</ol>

<p><i>Please log in with your UNI or your project account ID to access these MATCH modules.</b></i>

{% endblock %}
