<html>
<head><title>CE Credit Confirmation</title>
</head>
<body>
<div class='ce-maintext'>
<p>This is to certify that <b>{{request.user.first_name}} {{request.user.last_name}}</b> has satisfactorily completed Uncharted: Multidisciplinary Approaches to Children’s Oral Health and receives 1 continuing education credit.</p>
</div>

<div class='ce-strongtext'>
<p>Pediatric Dentistry in collaboration with the Social Work Profession.</p>
</div>

<div class='ce-maintext'>
<p>Issued by the Section of Social and Behavioral Sciences, College of Dental Medicine, Columbia University with the support of the Health Resources and Services Administration Title VII Training Grant D88HP20109 on <em>Building a sustainable network of pediatric dentists committed to care of underserved children</em></p>

<p>Columbia University College of Dental Medicine is an ADA CERP Recognized Provider and Academy of General Dentistry Accepted Program Provider(#214174) for FAGD/MAGD Credit 12/09 through 12/13, and a registered provider with the Dental Board of California (RP 3954).</p>
</div>

<div class='ce-subtext'>
<p>ADA CERP is a service of the American Dental Association to assist dental professionals in identifying quality providers of continuing dental education.</p>

<P>ADA CERP does not approve or endorse individual courses or instructors, nor does it imply acceptance of credit hours by boards of dentistry. Concerns or complaints about a CE provider may be directed to the provider or to ADA CERP at <a href='www.ada.org/goto/cerp'>www.ada.org/goto/cerp</a> Please contact your local licensing authority for CE credit hour guidelines and regulations.</p>
</div>

<table>
<tr>
<td><img src="http://match.ccnmtl.columbia.edu/uploads/images/2011/10/11/thumbs/kavita_ahluwalia_png_600x600_q85.jpg"/></td>
<td><img src="http://match.ccnmtl.columbia.edu/uploads/images/2011/10/11/thumbs/sarah_lu_png_600x600_q85.jpg" /></td>
</tr>

<tr>
<td><div class='ce-signature'>Kavita Ahluwalia, DDS, MPH, Module Co-Director</div></td>
<td><div class='ce-signature'>Sarah Y. Lu, MSW, Module Co-Director</div></td>
</tr>

<tr>
<td><img src="http://match.ccnmtl.columbia.edu/uploads/images/2011/10/11/thumbs/burton_edelstein_png_600x600_q85.jpg"/></td>
<td>{% now "jS F Y" %}</td>
</tr>

<tr>
<td><div class='ce-signature'>Burton Edelstein, DDS, MPH, Program Director</div></td>
<td><div class='ce-signature'>Date</div></td>
</tr>
</table>
</body>
</html>
