{%  load user_session_state %}

<script src="/site_media/js/json2.js" type="text/javascript" ></script>
<script src="/site_media/js/underscore/underscore-min.js" type="text/javascript" ></script>
<script src="/site_media/js/backbone/backbone-min.js" type="text/javascript" ></script>
<script src="/site_media/js/backbone-tastypie.js" type="text/javascript" ></script>

<script src="/nutrition/media/js/nutrition.js/" type="text/javascript" ></script>
<script src="/site_media/bootstrap/js/bootstrap.min.js"></script>

<script type="text/javascript">
    jQuery(document).ready(function () {
        var view = new CounselingSessionView({
            current_session_state_id: "{% get_user_session_state request.user block.id %}",
            el: 'div.counseling_session'
        });
    });
</script>

<script type="text/template" id="session-template">
    <div id="complete-overlay" style="display: none">
        <h1>You've run out of time!</h1>
        All information was recorded in your patient's chart.<br /><br />
    </div>
    <div class="information">
        <div class="available_time clearfix well">
            <div class="time_remaining">Time remaining:</div>
            <div id="display_time"><span id="display_time_text"></span></div>
            <div class="time_minutes">minutes</div>
        </div>
        <div id="patient-chart">
            <h3>Patient Chart</h3>
            <div id="patient-chart-text"></div>
        </div>
    </div>
    <div id="topic-accordion" class="accordion">
        <% _.each(topics.models, function(topic, index) { %>
            <div id="<%=topic.attributes.id%>" class="accordion-group <% if (index/2 === 0) { %> even <% } %>">
                <div class="accordion-heading">
                    <div class="discuss"><%= topic.attributes.text %><div class="reason"></div></div>
                    <button class="btn discuss" data-toggle="collapse"
                            data-target="#reply-<%= topic.attributes.id %>" data-parent="#topics-accordion">
                        Discuss for <%= topic.attributes.estimated_time %> minutes (estimated)
                    </button>
                    <div style="clear: both"></div>
                </div>
                <div id="reply-<%= topic.attributes.id %>" class="accordion-body collapse" data-id="<%=topic.attributes.id%>">
                    <div class="accordion-inner">
                        <%= topic.attributes.reply %><br />
                        <h3>Actual Time: <%= topic.attributes.actual_time %> minutes</h3>
                        <button disabled="disabled" class="btn complete" data-toggle="collapse" data-target="#reply-<%= topic.attributes.id %>" data-parent="#topics-accordion">
                            Close<br />
                        </button>
                    </div>
                </div>
            </div>
        <% }); %>
    </div>
</script>

<script type="text/template" id="patient-chart-template">
    <div id="session-chart-<%= session.attributes.id %>">
        <% if (answered.length > 0) { %>
            <h5><%= session.attributes.patient_chart %></h5>
            <div class="session-chart-answered">
                <% _.each(answered.models, function(answer, index) { %>
                    <div class="session-chart-topic"><%= answer.attributes.summary_text %></div>
                    <div class="session-chart-reply"><%= answer.attributes.summary_reply %></div>
                <% }); %>
            </div>
        <% } %>
    </div>
</script>