<script src="/site_media/bootstrap/js/bootstrap.min.js"></script>

<script type="text/javascript">
    jQuery(document).ready(function () {
        jQuery("form").submit(function() {
            var valid = true;

            var children = jQuery(this).find("input[type=text],textarea");
            jQuery.each(children, function() {
                if (valid && jQuery(this).val().trim().length < 1) {
                    valid = false;
                }
            });

            if (!valid) {
                alert("Please fill out all referral form fields.");
            }

            return valid;
        });
    });
</script>