{% load markup %}
{% load getresponse %}

{% getquestionresponse question as response %}

<div class="cases">
    {% if question.intro_text %}<p class="question_intro_text">{{question.intro_text|safe}}</p>{% endif %}
    <div class="casetitle"> Question {{question.display_number}}:</div>
    <div class="casecontent">
        <div class="casequestion">
            <p class="question_text">{{question.text|safe}}</p>
            {% if question.answerable %}
                {% if question.is_single_choice %}
                    {% include 'quizblock/single_choice.html' %}
                {% endif %}

                {% if question.is_single_choice_dropdown %}
                    {% include 'quizblock/single_choice_dropdown.html' %}
                {% endif %}

                {% if question.is_multiple_choice %}
                    {% include 'quizblock/multiple_choice.html' %}
                {% endif %}
            {% else %}
                {% if question.is_short_text %}
                    {% include 'quizblock/short_text.html' %}
                {% endif %}

                {% if question.is_long_text %}
                    {% include 'quizblock/long_text.html' %}
                {% endif %}
            {% endif %}
        </div>

        {% if block.rhetorical %}
            <div class="casesanswerdisplay hidden">
                {{question.explanation|markdown}}
            </div>
        {% else %}
            {% if response %}
                {% include 'quizblock/show_answer.html' %}
            {% endif %}
        {% endif %}
    </div>
</div>
