{% load markup %}
{% load getresponse unlocked %}

{% ifsubmitted section %}
    <div class="quiz-feedback alert alert-success">
        {% comment %} text added via css {% endcomment %} 
        <span></span>
    </div>
{% else %}
{% endifsubmitted %}

{{ block.description|markdown }}

{% if request.user.is_anonymous %}
  <p class="warning">You must be logged in to view this content</p>
{% else %}

{% for question in block.question_set.all %}
  {% include 'quizblock/question.html' %}
{% endfor %}

{% endif %}
