{% extends 'base.html' %}
{% comment %}######## THIS IS MATCH TEMPLATE ########{% endcomment %}
{% comment %}######## THIS TEMPLATE IS NOT USED. SEE templates/standard elements/about.html ########{% endcomment %}



{% block js %}
{{ block.super }}
<script src="{{STATIC_URL}}bootstrap/js/bootstrap.min.js"></script>
{% endblock %}

{% block css %}
{{ block.super }}
<link href="{{STATIC_URL}}bootstrap/css/bootstrap.css" rel="stylesheet">
{% endblock %}

{% block loginbutton %}<a href="/" class="btn btn-mini btn-danger">Log in</a>{% endblock %}

{% block projectbanner %}{% endblock %}

{% block content %}
{% endblock %}
