{% extends 'base.html' %}
{% comment %}######## THIS IS MATCH TEMPLATE ########{% endcomment %}
{% load waffle_tags %}
{% block widthtype %}fixed content_wide{% endblock %}
{% block title %}Welcome to MATCH{% endblock %}
{% block js %}
{{ block.super }}
    <script src="/site_media/bootstrap/js/bootstrap.min.js"></script>
{% endblock %}

{% block css %}
{{ block.super }}
<link href="/site_media/bootstrap/css/bootstrap.css" rel="stylesheet">
{% endblock %}

{% block primarynav %}{% endblock %}

{% block content %}
<h2>Welcome to Multidisciplinary Approaches to Children's Oral Health (MATCH)</h2>

{% if user.is_anonymous %}
<br />
<div class='maintext'><p>If you have a Columbia UNI or have created an account already, <a href="/accounts/login/?next=/">login</a>.</p>

<p>Otherwise, <a href="/registration/register/">create an account</a>.</p>
</div>
{% else %}
<div class='maintext'>
<p>Pediatric dentists can partner with a variety of other healing and helping professionals to assure children’s oral health, dental care, and overall wellbeing.</p>
<p>
Children’s oral health is determined by social, behavioral, genetic, nutritional, and educational factors—as well as by dental care. Partnering with experts from these fields can enhance your practice and help children and their families obtain the highest levels of oral health. </p> 

</div>

<div class='pullquote'>
<p>According to the US Surgeon General </p> 

<p>"Throughout the first two decades of growth and development, children and young people are deeply influenced by the social and environmental opportunities and constraints imposed by families, communities, and society. In the case of oral health, there is enough known about health promotion and disease prevention to improve the oral health and well-being of all children."</p>
 
<div class='source'>
<p>U.S. Department of Health and Human Services. Oral Health in America: A Report of the Surgeon General Rockville, MD: U.S. Department of Health and Human Services, National Institute of Dental and Craniofacial Research, National Institutes of Health, 2000.</p>
</div>
</div>
<div class='maintext'><p>These modules...</p>
<div class='ol-bullets'>

<ol>
<li>Feature other professionals who you can partner with to impact children's oral health</li>
<li>Suggest ways to work most effectively with them in practice</li>
<li>Present examples of successful pediatric dentists who partner with other professionals.</li>
</ol>
</div>

<h3>Let's get started:</h3>
<ul class="module_list">
    <li>Module 1: <a href="/module_one/socialwork/">Social workers</a></li>
    <li>Module 2: <a href="/module_two/nutrition/">Nutrition</a></li>
    <li>
        Module 3: {% flag "speech_pathology" %}<a href="/module_three/speechpathology/">{% endflag %}
            Speech pathology
        {% flag "speech_pathology" %}</a>{% endflag %}
    </li>
     {% comment %}<li>
        Module 4:<a href="/module_four/occupationaltherapy/">
            Occupational therapy (coming soon)
        </a>
    </li>
    <li>
        Module 5: <a href="/module_five/publichealth/">
            Public health (coming soon)
        }</a>
    </li>{% endcomment %}
</ul>

<img width="670" alt="paper dolls" src="/site_media/img/paperdolls.jpg">

</div>
{% endif %}
{% endblock %}
