{% extends 'base.html' %}
{% comment %}######## THIS IS MATCH TEMPLATE ########{% endcomment %}
{% block title %}About MATCH{% endblock %}

{% block widthtype %}fixed login{% endblock %}
{% block js %}
{{ block.super }}
<script src="/site_media/bootstrap/js/bootstrap.min.js"></script>
{% endblock %}

{% block css %}
{{ block.super }}
<link href="/site_media/bootstrap/css/bootstrap.css" rel="stylesheet">
{% endblock %}

{% block loginbutton %}<a href="/" class="btn btn-mini btn-danger">Log in</a>{% endblock %}

{% block projectbanner %}{% endblock %}

{% block content %}

<h2>About Multidisciplinary Approaches to Children’s Oral Health (MATCH)</h2>

<p>There are a variety of healing and helping professions that, when partnered with pediatric dentists, hold tremendous potential to improve children’s oral health and welfare.</p>

<p>Since many factors contribute to good oral health in children—social, behavioral, genetic, nutritional, dental care, and education, engaging experts in these various fields can both help reduce disease occurrence and improve quality of care.</p>

<p>These modules are developed with support from the Health Resources and Services Administration Title VII Training Grant D88HP20109 on Building a sustainable network of pediatric dentists committed to care of underserved children. In recognition of this, faculty at the Columbia University College of Dental Medicine and the Columbia University Center for New Media Teaching and Learning (CCNMTL) have developed these comprehensive online modules which aim to:</p>

<ol type="1">
	<li>Highlight non-dental professions that can impact children’s oral health</li>
	<li>Suggest ways pediatric dentists can partner with them most effectively to enhance practice success</li>
	<li>Present examples of successful pediatric dentists who enhance their patient care through partnerships with these professions</li>
</ol>


<h3>Project Details</h3>

<p>This project seeks to understand dental professionals’ perception of the utility of non-dental health professions in improving patient and community oral health outcomes for children, through a web-based learning module. In addition to module content, this project involves a brief survey of participant characteristics and module ease of use and utility.</p>

<p>Participation in this survey is voluntary. You may complete the Module Responses section for course purposes and decline to participate in the survey. The information gained from this survey will help to improve the module for future participants. All information obtained from this project will be managed securely and only accessible to approved project personnel.  All related future publications will be free of identifiable information. The Columbia University Medical Center IRB and the Office for Human Research Protections may have access to project.</p>

<p>We foresee minimal risk for participating in this project. At the completion of the module and related survey, you will be eligible to receive one Continuing Dental Education credit. You will be required to provide some personal information for filing purposes to receive credit.</p>

<p>If there are any questions or concerns please contact the Principal Investigator, Dr. Burton Edelstein, Chair of the Section of Social and Behavioral Sciences and Professor of Dentistry and Health Policy &amp; Management, at the Columbia University College of Dental Medicine at 212-342-3505 or by email at ble22@columbia.edu. You may also contact the Medical Center Institutional Review Board at 212-305-5883 (reference # IRB- AAAI5705).</p>


<h3>Credits</h3>
<h6>Faculty Partners</h6>
<ul>
	<li>Burton L. Edelstein, DDS, MPH</li>
	<li>David A. Albert, DDS, MPH</li>
	<li>Courtney Chinn, DDS, MPH</li>
	<li>Kavita P. Ahluwalia, DDS, MPH (Module 1)</li>
</ul>

<h6>Contributing Writers</h6>
<ul>
	<li>June Levine, MS, RD, CDN, CDE</li>
	<li>Sharifa Z. Williams, MPH (Module 1 &amp; 2)</li>
	<li>Sarah Lu, MSW (Module 2)</li>
	<li>Arinne Tress, M.S., CCC-SLP (Module 3)</li>
	<li>Marie Ann Marino, EdD,RN,PNP (Module 4)</li>
</ul>

<p>&nbsp;</p>
<h5>CCNMTL Production Team</h5>
<h6>Executive Producers</h6>
<ul>
	<li>Frank Moretti (Modules 1 &amp; 2)</li>
	<li>Maurice Matiz</li>
	<li>Michelle Hall</li>
	<li>John Zimmerman (Module 1)</li>
</ul>

<h6>Project Management</h6>
<ul>
<li>Cindy Smalletz</li>
</ul>

<h6>Web Design</h6>
<ul>
	<li>Zarina Mustapha</li>
	<li>Elizabeth Day (Module 1)</li>
</ul>

<h6>Programming</h6>
<ul>
	<li>Susan Dreher </li>
	<li>Zarina Mustapha </li>
	<li>Anders Pearson (Module 1)</li>
	<li>Eddie Rubeiz (Module 1)</li>
</ul>

<h6>Graphics Design</h6>
<ul>
<li>Zarina Mustapha</li>
</ul>

<h6>Video Production</h6>
<ul>
	<li>Stephanie Ogden</li>
	<li>Michael Deleon</li>
	<li>Jon Hanford</li>
	<li>Therese Condit</li>
	<li>Acacia Graddy-Gamel (Modules 1 &amp; 2)</li>
</ul>
{% endblock %}
