{% extends 'base.html' %}
{% block title %}About MATCH{% endblock %}

{% block content %}

<h2>About Multidisciplinary Approaches to Children's Oral Health (MATCH)</h2>

<p>There are a variety of healing and helping professions that, when partnered with pediatric dentists, hold tremendous potential to improve children's oral health and welfare.
</p>
<p>Since many factors contribute to good oral health in children - social, behavioral, genetic, nutritional, dental care, and education, engaging experts in these various fields can both help reduce disease occurrence and improve quality of care.
</p>

<p>These modules are developed with support from the Health Resources and Services Administration Title VII Training Grant D88HP20109 on Building a sustainable network of pediatric dentists committed to care of underserved children. In recognition of this, faculty at the Columbia University College of Dental Medicine and the Columbia University Center for New Media Teaching and Learning (CCNMTL) have developed these comprehensive online modules which aim to:</p>
<ol>
<li>Highlight non-dental professions that can impact children's oral health</li>
<li>Suggest ways pediatric dentists can partner with them most effectively to enhance practice success</li>
<li>Present examples of successful pediatric dentists who enhance their patient care through partnerships with these professions</li>
</ol>

<h4>Credits</h4>
<h6>Faculty Partners</h6>
<ul>
<li>Burton L. Edelstein, DDS, MPH</li>
<li>David A. Albert, DDS, MPH</li>
<li>Kavita P. Ahluwalia, DDS, MPH</li>
<li>Courtney Chinn, DDS, MPH</li>
</ul>

<h6>Contributing Writers</h6>
<ul>
<li>June Levine, MS, RD, CDN, CDE</li>
<li>Sharifa Z. Williams, MPH</li>
<li>Sarah Lu, MSW</li>
</ul>

<h5>CCNMTL Production Team</h5>
<h6>Executive Producers</h6>
<ul>
<li>Frank Moretti</li>
<li>Maurice Matiz</li>
<li>John Zimmerman</li>
</ul>

<h6>Project Management</h6>
<ul>
<li>Cindy Smalletz</li>
</ul>

<h6>Web Design</h6>
<ul>
<li>Elizabeth Day</li>
</ul>

<h6>Programming</h6>
<ul>
<li>Anders Pearson</li>
<li>Eddie Rubeiz</li>
</ul>

<h6>Video Production</h6>
<ul>
<li>Stephanie Ogden</li>
<li>Michael Deleon</li>
<li>Acacia Graddy-Gamel</li>
</ul>
{% endblock %}
